<style>
  a {
    line-height: 1em;
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    margin: 5px;
  }

  .trow {
    transition: transform 0.2s;
  }

  .trow:hover {
    cursor: pointer;
    transform: scale(1.03);
    background: #e3e6e9;
    color: black;
  }

  .trowColorLetra {
    color: gray;
    font-size: calc(0.5em + 0.5vw);
  }
</style>

<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-12 col-md-3">
        <h1>Sub temas de ayuda</h1>
      </div>
      <div class="col-sm-12 col-md-9">
        <form>
          <!-- select -->
          <select
            id="idTemaAyuda"
            class="form-control form-control-sm"
            [(ngModel)]="idTemaAyuda"
            name="idTemaAyuda"
            (change)="cambioTemaAyuda($event.target.value)"
          >
            <option [value]="null" disabled selected>
              Seleccionar Tema de ayuda...
            </option>
            <option [value]="item.IDTIPO" *ngFor="let item of TEMASLIST">
              {{ item.NOMTIPO }}
            </option>
          </select>
        </form>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="list-group">
      <a
        *ngFor="let item of rows"
        (click)="editRow(item.IDTIPODET)"
        class="list-group-item list-group-item-action trow"
      >
        <div class="row">
          <div class="col-6">
            <strong>
              <h5 class="mb-1">{{ item.NOMTIPODET }}</h5>
            </strong>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
