<style>
    a {
        line-height: 1em;
        display: inline-block;
        text-decoration: none;
        padding: 10px;
        margin: 5px;
    }

    .trow {
        transition: transform .2s;
    }

    .trow:hover {
        cursor: pointer;
        transform: scale(1.03);
        background: #e3e6e9;
        color: black;
    }

    .trowColorLetra {
        color: gray;
        font-size: calc(.5em + .5vw);
    }
</style>

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Tickets</h1>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="list-group">
            <a *ngFor="let item of rows" (click)="editRow(item)"
                class="list-group-item list-group-item-action trow">
                <div class="row">
                    <div class="col-11">
                        <strong>
                            <h5 class="mb-1">{{item.ASUNTO}}</h5>
                        </strong>
                    </div>
                    <div class="col-1">
                        <span
                         [ngClass]="item.ESTATUS == 'ASIGNADO' ? 'badge badge-pill badge-success' : item.ESTATUS == 'CERRADO' ? 'badge badge-pill badge-danger' : item.ESTATUS == 'RE-ABIERTO' ? 'badge badge-pill badge-warning' : 'badge badge-pill badge-primary'">
                        {{item.ESTATUS}}
                    </span>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-12 trowColorLetra">
                        TICKET : {{item.IDTICKET}} | FECHA: {{item.FECHA | date: "dd/MM/yyyy"}} | ASIGNADO: {{item.NOMASIGNADO}} | USUARIO : {{item.NOMUSUARIO}}
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>