<style>
    .trowColorLetra {
        color: gray;
        font-size: calc(.5em + .5vw);
    }

    .trowColorDivBlue {
        background-color: gray;
        color: white;
    }
</style>


<style>
    .botonSize {
        width: 100%;
    }
</style>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <br>
        <div class="row">
            <div class="col-1">

            </div>
            <div class="col-10">
                <div class="list-group">
                    <a class="list-group-item list-group-item-action trow">
                        <div class="row">
                            <strong>{{ _TITULO }}</strong>
                        </div>
                        <hr>
                        <div class="row trowColorLetra">
                            <div class="col-md-3">
                                USUARIO: {{datos.NOMUSUARIO}}
                            </div>
                            <div class="col-md-3">
                                ESTATUS: {{datos.NOMESTATUS}}
                            </div>
                            <div class="col-md-3">
                                TEMA: {{datos.NOMTIPO}}
                            </div>
                            <div class="col-md-3">
                                FECHA: {{datos.FECHA | date: "dd/MM/yyyy h:mm a"}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-2">
                                <label for="IDUSUARIO">PRIORIDAD</label>
                                <!-- select -->
                                <select class="form-control form-control-sm" id="IDPRIORIDAD">
                                    <option [value]="item.ID" *ngFor="let item of prioridades">
                                        {{item.NOMBRE}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-3">
                                <label for="IDTIPO">TEMA</label>
                                <!-- select -->
                                <select class="form-control form-control-sm" id="IDTIPO">
                                    <option [value]="item.IDTIPO" *ngFor="let item of CATEGORIAS">
                                        {{item.NOMTIPO}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-3">
                                <label for="IDTIPO">ASIGNADO A</label>
                                <!-- select -->
                                <select class="form-control form-control-sm" id="IDUSUARIO">
                                    <option [value]="item.IDUSUARIO" *ngFor="let item of ASIGNADOS">
                                        {{item.NOMUSUARIO}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-3">
                                <label for="IDTIPO">ORIGEN</label>
                                <!-- select -->
                                <select class="form-control form-control-sm" id="ORIGEN">
                                    <option [value]="item.ORIGEN" *ngFor="let item of origenes">
                                        {{item.NOMBRE}}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-2">
                                Descripción :
                            </div>
                            <div class="col-md-10">
                                <div [innerHTML]="transformaHtml(datos.DESCTICKET)"></div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>


    </div>

    <!-- <ngx-confirm-box (confirmEvt)="confirmChange($event)"></ngx-confirm-box> -->
    <ngx-confirm-box [bgColor]="bgColor" [confirmHeading]="confirmHeading" [confirmCanceltext]="confirmCanceltext"
        [confirmContent]="confirmContent" [confirmOkaytext]="confirmOkaytext" (confirmEvt)="delDatos($event)">
    </ngx-confirm-box>
</section>

<app-ticketflowdet></app-ticketflowdet>