<style>
  .trowColorLetra {
    color: gray;
    font-size: calc(0.5em + 0.5vw);
  }

  .trowColorDivBlue {
    background-color: gray;
    color: white;
  }
</style>

<style>
  .botonSize {
    width: 100%;
  }
</style>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <br />
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10">
        <div class="row">
          <strong>{{ _TITULO }}</strong>
        </div>
        <form>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="NOMUSUARIO">Creador</label>
              <input
                type="text"
                class="form-control form-control-sm"
                id="NOMUSUARIO"
                name="NOMUSUARIO"
                [(ngModel)]="datos.NOMUSUARIO"
                readonly="true"
              />
            </div>
            <div class="form-group col-md-4"></div>

            <div class="form-group col-md-4">
              <label for="NOMESTATUS">Estatus</label>
              <input
                type="text"
                class="form-control form-control-sm"
                id="NOMESTATUS"
                name="NOMESTATUS"
                [(ngModel)]="datos.NOMESTATUS"
                readonly="true"
              />
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="IDPRIORIDAD">Prioridad</label>
              <!-- select -->
              <select
                class="form-control form-control-sm"
                id="IDPRIORIDAD"
                name="IDPRIORIDAD"
                [(ngModel)]="datos.IDPRIORIDAD"
              >
                <option [value]="item.ID" *ngFor="let item of prioridades">
                  {{ item.NOMBRE }}
                </option>
              </select>
            </div>

            <div class="form-group col-md-4"></div>

            <div class="form-group col-md-4">
              <label for="FECHA">Fecha emisión</label>
              <input
                type="text"
                class="form-control form-control-sm"
                id="FECHA"
                name="FECHA"
                [(ngModel)]="datos.FECHA"
                readonly="true"
              />
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="IDTIPO">Tema de ayuda</label>
              <!-- select -->
              <select
                class="form-control form-control-sm"
                id="IDTIPO"
                [(ngModel)]="datos.IDTIPO"
                name="IDTIPO"
                (change)="cambioTemaAyuda($event.target.value)"
              >
                <option [value]="item.IDTIPO" *ngFor="let item of CATEGORIAS">
                  {{ item.NOMTIPO }}
                </option>
              </select>
            </div>

            <div class="form-group col-md-4"></div>

            <div class="form-group col-md-4">
              <label for="IDUSUARIO">Asignado a</label>
              <!-- select -->
              <select
                class="form-control form-control-sm"
                id="IDUSUARIO"
                name="IDUSUARIO"
                [(ngModel)]="datos.ASIGNADOA"
              >
                <option [value]="item.IDUSUARIO" *ngFor="let item of ASIGNADOS">
                  {{ item.NOMUSUARIO }}
                </option>
              </select>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="IDTIPODET">Sub temas</label>
              <!-- select -->
              <select
                class="form-control form-control-sm"
                id="IDTIPODET"
                name="IDTIPODET"
                [(ngModel)]="datos.IDTIPODET"
              >
                <option
                  [value]="item.IDTIPODET"
                  *ngFor="let item of SUBTEMASAYUDA"
                >
                  {{ item.NOMTIPODET }}
                </option>
              </select>
            </div>

            <div class="form-group col-md-4">
              <label for="ACCESOREMOTO">Acceso remoto</label>
              <input
                type="text"
                class="form-control form-control-sm"
                id="ACCESOREMOTO"
                name="ACCESOREMOTO"
                [(ngModel)]="datos.ACCESOREMOTO"
              />
            </div>

            <div class="form-group col">
              <label for="IDTIPO">ORIGEN</label>
              <!-- select -->
              <select
                class="form-control form-control-sm"
                id="ORIGEN"
                name="ORIGEN"
                [(ngModel)]="datos.ORIGEN"
              >
                <option [value]="item.ID" *ngFor="let item of origenes">
                  {{ item.NOMBRE }}
                </option>
              </select>
            </div>
          </div>
          <hr />
          <div class="row">
            <div class="col-md-2">Descripción :</div>
            <div class="col-md-10">
              <div [innerHTML]="transformaHtml(datos.DESCTICKET)"></div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  <!-- <ngx-confirm-box (confirmEvt)="confirmChange($event)"></ngx-confirm-box> -->
  <ngx-confirm-box
    [bgColor]="bgColor"
    [confirmHeading]="confirmHeading"
    [confirmCanceltext]="confirmCanceltext"
    [confirmContent]="confirmContent"
    [confirmOkaytext]="confirmOkaytext"
    (confirmEvt)="delDatos($event)"
  >
  </ngx-confirm-box>
</section>

<app-ticketflowdet></app-ticketflowdet>
