<app-navbar></app-navbar>
<app-menu></app-menu>
<!-- Content Wrapper. Contains page content -->
<div [ngClass]="classMenu">
  <router-outlet></router-outlet>
</div>
<!-- /.content-wrapper -->
<footer *ngIf="menuSiNo" class="main-footer">
  <strong>Copyright &copy; 2020 <a href="#">NEGOCIO DIGITAL</a>.</strong>
  All rights reserved.
  <div class="float-right d-none d-sm-inline-block"><b>Version</b> 1.0.0</div>
</footer>

<!-- Control Sidebar -->
<aside *ngIf="menuSiNo" class="control-sidebar control-sidebar-dark">
  <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
