<!-- Content Header (Page header) -->
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>Sucursales</h1>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="list-group">
      <a
        *ngFor="let item of rows"
        (click)="editRow(item.IDSUCURSAL)"
        class="list-group-item list-group-item-action trow"
      >
        <div class="row">
          <div class="col-lg-12 trowColorLetra">
            <h1>
              <b> {{ item.NOMSUCURSAL }}</b>
            </h1>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <h6>
              <span
                class="trowColorLetra"
                style="margin-left: 2em; margin-right: 0.5em"
                >Clave:</span
              >
              <span class="trowColorValor">{{ item.IDSUCURSAL }}</span>
            </h6>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
